{% extends 'base.html' %}

{% block title %}
    <title>Title</title>
{% endblock %}

{% block body %}
    <div class="main-knowledge">
        <p class="title">База знаний</p>
        <div class="knowledge-section" id="section-1" onclick="ExtendBlock_1()">
            <p class="section-title">Техника безопасности</p>
            <p class="section-text" id="section-text-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
        <div class="knowledge-section" id="section-2" onclick="ExtendBlock_2()">
            <p class="section-title">Правила работы с техникой</p>
            <p class="section-text" id="section-text-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
        <div class="knowledge-section" id="section-3" onclick="ExtendBlock_3()">
            <p class="section-title">Правила эвакуации в случае ЧС</p>
            <p class="section-text" id="section-text-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
        <div class="knowledge-section" id="section-4" onclick="ExtendBlock_4()">
            <p class="section-title">Расписание</p>
            <p class="section-text" id="section-text-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
        <div class="knowledge-section" id="section-5" onclick="ExtendBlock_5()">
            <p class="section-title">Отчетность</p>
            <p class="section-text" id="section-text-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
    </div>
{% endblock %}